<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common::head">
</head>
<body>
<div th:replace="layout/common::intro"></div>
<div class="container">
  <h2>Congratulations!</h2>
  <h3>Your registration is now complete</h3>
  <p>Please enjoy our fabulous, friendly services!</p>
  <div class="alert alert-danger">The user has now entered sensitive information, including account credentials and PII.
    This data was surreptitiously siphoned off to an external entity.
  </div>
</div>
</body>
</html>
